# dependencies
node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.ignore.js

*-debug.log*
yarn-error.log*

.idea
platform-frontend.iml
.vscode
